*,
*::before,
*::after {
    box-sizing: border-box;

}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 46px;
    color: rgb(31, 30, 30);
    background-color: aquamarine;
    text-align: center;
    margin-bottom: 16px;
}

h2 {
    font-size: 40px;
    background-color: aquamarine;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 16px;
}

h3 {
    font-size: 30px;
}

ul {
    list-style: none;
    font-size: 24px;
    color: rgb(20, 114, 245);
}

.recipe-list {
    background-color: blanchedalmond;
    border: 1px solid lightblue;
    padding: 16px;
}

.recipe-list li {
    margin-bottom: 8px;
}

a, 
.link-s {
    text-decoration: none;
}

.link-s {
    text-transform: uppercase;
    font-style: italic;
    display: block;
    margin-bottom: 16px;
}

.ingredients {
    font-size: 20px;
    color: darkgreen;
    line-height: 1.2;
}

.ingredients li {
    padding-bottom: 12px;
}

ol {
    font-size: 20px;
    color: chocolate;
}

.page-wrapper {
    margin: 32px auto;
    padding: 0 16px;
    width: 800px;
}